body {
    padding: 0; 
    margin: 0; 
    background-image: url('../images/fondnuages.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    box-sizing: border-box; 

}

.all {
    width: 80%;
    height: 100%;
    background-color: #999;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

header {
    text-align: center;
    font-size: 30px;
}


.infos-map-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    gap: 20px; 
    width: 100%; 
    max-width: 1200px; 
    box-sizing: border-box;
}




.map-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.infos-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    box-sizing: border-box; 
}

#map {
    width: 600px;
    height: 400px;
    display: block;
    margin-right: 20px; 
    border-radius: 4px;
    border: solid 5px black;
    box-shadow: 2px 2px 7px gray;
}

.infos {
    font-size: 20px;
    max-width: 100%;
    width: auto; 
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 5px black;
    box-shadow: 0px 0px 3px black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: lightgray;
}



.container2 {
    margin-left: 20px;
    margin-right: 26px; 
}

.onglet-selector-container {
    display: flex;
    width: 100%;
    gap: 20px; 
}

.onglet-selector {
    padding: 7px;
    margin-left: 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: -5px;
    border-top: 4px solid black; 
    border-left: 4px solid black; 
    border-right: 4px solid black;
    border-bottom: none;
}


.onglet-container {
    position: relative;
    height: 277px;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    border: solid 5px black;
    box-shadow: 0px 0px 3px black;
    display: flex;
}


.onglet {
    left: 0;
    width: 1067px;
    height: 100%; 
    background-color: lightgray;
    z-index: 1; 
    cursor: pointer;
    padding: 20px;
    display: flex;
    gap: 10px; 
    overflow-x: auto; 
    white-space: nowrap;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.7));
    

}




.infobox {
    border-radius: 10px;
    border: solid 5px black;
    box-shadow: 0px 0px 3px black;
    padding: 10px;
    height: 90%;
    background-color: lightgray;

    flex: 0 0 180px; 
    width: 180px;
    box-sizing: border-box; 
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}


.infos p {
    font-size: 20px;
}


#pville span {
    font-size: 50px;
    font-weight: bolder;
}

.data {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.data span {
    font-size: 18px; 
}


#pregion span {
    font-size: 20px;
}

#ppays span {
    font-size: 30px ;
    font-weight: bold;
}

.date {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.TMax span {
    text-shadow: 0px 0px 2px red;
    font-weight: bold;
}

.TMin span{
    text-shadow: 0px 0px 2px blue;
    font-weight: bold;
}

.data {
    padding: 5px;
}

.condition {
    border-radius: 10px;
    border: solid 3px black;
    box-shadow: 0px 0px 3px black;
    font-weight: bold;
    height: 80px;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

#weatherapi-selector {
    background-color: lightblue;
}

#openmeteo-selector {
    background-color: lightgreen;
}

#openweather-selector {
    background-color: lightcoral;
}

#weatherapi {
    background-color: lightblue;
    position:  absolute;   
    z-index: 3;
}

#openmeteo {
    background-color: lightgreen;
    position:  absolute;
    z-index: 2;
}

#openweather {
    background-color: lightcoral;
    position:  absolute;
    z-index: 1;
}

#nbjours-selector {
    border: solid 1px black;
    border-radius: 4px;
    font-size: 18px;
}



.tempventcontainer {
    display: flex;
    gap: 10px;
}
.ventcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 77px;
    height: 79px;
    border-radius: 50%;
    background-image: url("../images/rose-des-vents.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.wind-direction {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

.arrow {
    width: 2px;
    height: 27px;
    background-color: rgb(255, 0, 0);
    position: relative;
    top:9px; 
    left: 0px;
}

.arrow::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 9px solid rgb(255, 0, 0);
}

.wind-speed {
    position: absolute;
    bottom: -20px;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    color: black;
    top: 32px;
    border: solid 1px black;
    margin-bottom: 53px;
    border-radius: 10px;
    padding: 1px;
    background-color: lightgray;
}
